<div class="container-fluid footer-cf">
    <div class="row">
        <div class="col-md-12">
           <p class="footer-p">Copyright © 2021 at <span style="color: white; font-weight:bold">&nbsp; Bharath Crackers &nbsp;</span>  by RakeSuba.</p> 
        </div>
    </div>
</div>