<section id="topNav">
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <a href="">bharathcrackers@gmail.com</a>
        </div>
        <div class="col-md-5">
            <marquee behavior="scroll" class="marqueeStyle" direction="left"><i class="bi bi-caret-right-fill"></i> 80% OFFER on or before August 31st <i class="bi bi-caret-left-fill"></i><i class="bi bi-caret-right-fill"></i> High Quality Crackers <i class="bi bi-caret-left-fill"></i><i class="bi bi-caret-right-fill"></i> Light up your Diwali with Bharath Crackers <i class="bi bi-caret-left-fill"></i></marquee>
        </div>
        <div class="col-md-4" style="text-align: right;">
          <a href="" ><i class="bi bi-facebook socialIcon"></i></a>  
          <a href="" ><i class="bi bi-instagram socialIcon"></i></a>  
          <a href="" ><i class="bi bi-phone-fill socialIcon"></i></a>  
        </div>
    </div>
</div>
</section>

<section id="middleNav">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <img src="/images/logo.png" alt="" style="width: 50%;">
            </div>
            <div class="col-md-4" style="text-align: right;">
                <div class="input-group mb-3">
                    <input type="text" class="searchBar form-control" placeholder="Search" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button class="btn" type="button" id="button-addon2" style="background-color: #52006A;"><i class="bi bi-search"></i></button>
                </div>
            </div>
            <div class="col-md-4" style="text-align: center;">
                <div style="display: inline-block">
                    <button class="btn" type="button" id="button-addon2" style="display: inline-block; background-color:#52006A"><i class="bi bi-cart"></i> <span style="color:white;"> My Cart : Value</span></button>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="bottomNav">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link bottomNav-a active" aria-current="page" href="/">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link bottomNav-a" href="/shop">SHOP <span class="badge bg-warning" style="font-size:10px;">NEW</span> </a>
                    </li>
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle bottomNav-a" data-bs-toggle="dropdown"  href="#" role="button" aria-expanded="false">CATEGORIES</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">KIDS</a></li>
                            <li><a class="dropdown-item" href="#">TEENAGERS</a></li>
                            <li><a class="dropdown-item" href="#">FAMILY</a></li>
                            <li><a class="dropdown-item" href="#">DAY CRACKERS</a></li>
                            <li><a class="dropdown-item" href="#">NIGHT DISPLAY</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link bottomNav-a" href="/aboutus">ABOUT US</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link bottomNav-a" href="#">SHIPPING POLICY</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link bottomNav-a" href="#">PAYMENT DETAILS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link bottomNav-a" href="#">TESTIMONIAL</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
