<div class="container-fluid aboutus-cf">
    <div class="row">
        <div class="col-md-3">
            <img class="index-img" src="images/banner-5.png" alt="">
        </div>
        <div class="col-md-9">
            <h2> <span style="background-color: #52006A; color:yellow">&nbsp;ABOUT US&nbsp;</span></h2>
            <h3>WE TAKE IMMENSE PRIDE TO INTRODUCE OURSELVES AS THE FIRST ONLINE STORE TO SELL CRACKERS ONLINE. </h3>
            <p>This is an outcome of the experience and knowledge we share in the field of selling crackers.   We are in the field of selling crackers since 2000. , since our inception. We have our own exclusive showroom and godown in SIVAKASI.</p>
            <p>We offer the best quality products at best price. We procure the products well in advance during the best sun drying months of March, April and May to serve the customers with quality products at better price.</p>
            <p>We provide public & private display shows for marriages, parties, gala events, product launches, temple festivals and award functions and sports nights. One can buy crackers from us round the year.</p>
            <p>After understanding the hardship of buying quality crackers during deewali season we came up with the solution to buy crackers online. The following are the advantage you can enjoy buying online.</p>
            <ul>
                <li>You don't need to stand in long queues sweating in crowd to buy. Instead you can shop from home at a click of a button</li>
                <li>Selection procedure gets simpler</li>
                <li>All our varieties with detailed description of the products are available online.</li>
                <li>We humbly request you to include us as a part of your celebration!</li>
            </ul>
            <h4 class="contact-h4">Contact Time: 9.00 AM to 7.30 PM</h4>
            <h3 class="contact-h3">Phone: +91 xxxxx xxxxx</h3>
            <h3 class="contact-h3-1">Happy buying!</h3>
        </div>
    </div>
</div>



