<section id="index-1">
    <div class="container-fluid index-cf">
        <div class="row">
            <div class="col-md-9">
                <div class="row  index-leftcol shadow">
                    <div class="col-md-12">
                        <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                            <div class="carousel-item active carouselsection">
                                <div class="row row1" >
                                    <div class="col-md-7">
                                        <h1 class="index-head"> <span style="background-color: tomato; color:lightyellow">&nbsp;IT'S DIWALI TIME&nbsp; </span> </h1>
                                        <h2 class="index-h2">Come celebrate with us!!!</h2>
                                        <p class="index-p">Bharath Crackers is the best place for all your diwali crackers purchase.</p>
                                        <button class="btn btn-primary btn-sm index-btn"> Let's Shop </button>
                                    </div>
                                    <div class="col-md-5">
                                        <img src="images/light.png" alt="" class="index-img">
                                    </div>
                                </div>                                
                            </div>
                            <div class="carousel-item carouselsection">
                                <div class="row row2">
                                    <div class="col-md-7">
                                        <h1 class="index-head-2"><span style="background-color:yellow; color:black">&nbsp;FLAT 50% DISCOUNT ON ALL ITEMS&nbsp;</span> </h1>
                                        <h2 class="index-h2">Lifetime OFFERS like neverbefore!!!</h2>
                                        <p class="index-p">50% OFF on all crackers on or before August 30th. Grab your offers now</p>
                                        <button class="btn btn-primary btn-sm index-btn"> Let's Shop </button>
                                    </div>
                                    <div class="col-md-5">
                                        <img src="images/bijili2.png" alt="" class="index-img">
                                    </div>
                                </div>    
                            </div>
                            <div class="carousel-item carouselsection">
                                <div class="row row3">
                                    <div class="col-md-7">
                                        <h2 class="index-head"><span style="background-color:yellow; color:black">&nbsp;Deliveries throughout India &nbsp;</span></h2>
                                        <h5 class="index-p">Nation Wide Reach</h5>
                                        <p class="index-p">We offer a wide range of service throughout India to reachout all our customers. </p>
                                        <button class="btn btn-primary btn-sm index-btn"> Let's Shop </button>
                                    </div>
                                    <div class="col-md-5">
                                        <img src="images/children.png" alt="" class="index-img1">
                                    </div>
                                </div></div> 
                            </div>

                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <img src="images/banner-1.png" alt="" style="width: 80%; padding-top:30px">
            </div>
        </div>
    </div>
</section>

<section id="index-2">
    <div class="index2-head">
        <h1 class="catog-head"><span style="background-color: #52006A;color:wheat">&nbsp; CATEGORIES &nbsp;</span></h1>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card shadow" style="width: 18rem;">
                <img src="/images/kids.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><span style="background-color: #52006A; color:white">&nbsp;KIDS&nbsp;</span></h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">SPARKLERS</li>
                    <li class="list-group-item">CHAKKARS</li>
                    <li class="list-group-item">FLOWER POTS</li>
                    <li class="list-group-item">PENCILS</li>
                </ul>
                <div class="card-body">
                    <Button class="btn btn-warning">View More..</Button>
                </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow" style="width: 18rem;">
                <img src="/images/family.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><span style="background-color: #52006A; color:white">&nbsp;FAMILY&nbsp;</span></h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">FLOWER POTS</li>
                    <li class="list-group-item">SINGLE SOUND CRACKERS</li>
                    <li class="list-group-item">BOMB</li>
                    <li class="list-group-item">ROCKETS</li>
                </ul>
                <div class="card-body">
                   <Button class="btn btn-warning">View More..</Button>
                </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow" style="width: 18rem;">
                <img src="/images/teenagers.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><span style="background-color: #52006A; color:white">&nbsp;TEENAGERS&nbsp;</span></h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">CHAKKARS</li>
                    <li class="list-group-item">MULTI SHOT CRACKLING</li>
                    <li class="list-group-item">CRACKERS</li>
                    <li class="list-group-item">SPARKLERS</li>
                </ul>
                <div class="card-body">
                    <Button class="btn btn-warning">View More..</Button>
                </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow" style="width: 18rem;">
                <img src="/images/events.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><span style="background-color: #52006A; color:white">&nbsp;EVENTS&nbsp;</span></h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">FLOWER POTS</li>
                    <li class="list-group-item">SPARKLERS</li>
                    <li class="list-group-item">CHORSA GARLANDS</li>
                    <li class="list-group-item">CRACKERS</li>
                </ul>
                <div class="card-body">
                    <Button class="btn btn-warning">View More..</Button>
                </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow" style="width: 18rem;">
                <img src="/images/family.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><span style="background-color: #52006A; color:white">&nbsp;DAY CRACKERS&nbsp;</span></h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">BOMB</li>
                    <li class="list-group-item">CRACKERS</li>
                    <li class="list-group-item">ROCKETS</li>
                    <li class="list-group-item">CHORSA GARLANDS</li>
                </ul>
                <div class="card-body">
                    <Button class="btn btn-warning">View More..</Button>
                </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow" style="width: 18rem;">
                <img src="/images/night.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><span style="background-color: #52006A; color:white">&nbsp;NIGHT DISPLAY&nbsp;</span></h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">TWINKLING STAR</li>
                    <li class="list-group-item">MINI SKY FUNCTION</li>
                    <li class="list-group-item">SPARKLERS</li>
                    <li class="list-group-item">CRACKERS</li>
                </ul>
                <div class="card-body">
                    <Button class="btn btn-warning">View More..</Button>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner2">
        <img src="/images/banner-2.png" class="shadow" alt="">
    </div>
    <div class="banner3">
        <img src="/images/banner-3.jpg" class="shadow" alt="">
    </div>

</section>

<section id="index-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3" style="text-align: right;">
                <img class="index-img" src="/images/banner-4.png" alt="">
            </div>
            <div class="col-md-9" style="padding-top: 2%;">
                <h3>Buy Crackers from Leading fireworks selling company in India</h3><br>
                <h6><span style="color:#52006A; font-weight:bold">BHARATH CRACKERS</span> is a leading crackers online shopping website in Sivakasi, India. Buy crackers from the original branded Sivakasi crackers and selling in Mumbai, Indore, Pune, Hyderabad, Delhi and all over India using www.bharathcrackers.com. All modern fireworks are available for all ages starting from Chakra to Skyshots, Fountains to Bombs. Buy fireworks online, just a click to our website and enjoy this eve with your friends and family with our best quality crackers at affordable prices. We, Bharath Crackers, offers delivery in all major locations.</h6><br>
                <h6>Overall Bharath Crackers is the best place to shop crackers online with wide range of fancy fireworks, sparklers, atom bomb, rockets, chakkaras, crackers gift boxes online and more</h6>
            </div>
        </div>
    </div>
    


</section>

